*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:Arial, Helvetica, sans-serif;

    background:#f4f7fb;

    color:#222;
}

.home{

    max-width:900px;

    margin:50px auto;

    padding:20px;

    text-align:center;
}

.home h1{

    font-size:42px;

    margin-bottom:15px;

    color:#1e3a8a;
}

.home p{

    color:#6b7280;

    margin-bottom:40px;

    font-size:18px;
}